[submodule "node_modules/buster-util"]
	path = node_modules/buster-util
	url = git@gitorious.org/buster/buster-util.git
[submodule "node_modules/sinon"]
	path = node_modules/sinon
	url = http://github.com/cjohansen/Sinon.JS.git
